In [2]:
import numpy as np 
import pandas as pd
import tensorflow as tf

In [4]:
data=pd.read_csv('../Datas/cardio_train1.csv')
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

preprocessing

In [5]:
data.isna().sum()/100

id             0.0
age            0.0
gender         0.0
height         0.0
weight         0.0
ap_hi          0.0
ap_lo          0.0
cholesterol    0.0
gluc           0.0
smoke          0.0
alco           0.0
active         0.0
cardio         0.0
dtype: float64

In [6]:
data.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

In [7]:
x=data.iloc[:,1:-1]
y=data.iloc[:,-1]

In [15]:
x

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,18393,2,168,62.0,110,80,1,1,0,0,1
1,20228,1,156,85.0,140,90,3,1,0,0,1
2,18857,1,165,64.0,130,70,3,1,0,0,0
3,17623,2,169,82.0,150,100,1,1,0,0,1
4,17474,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1
69996,22601,1,158,126.0,140,90,2,2,0,0,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0
69998,22431,1,163,72.0,135,80,1,2,0,0,0
69999,20540,1,170,72.0,120,80,2,1,0,0,1

In [8]:
from sklearn.preprocessing import MinMaxScaler
mns=MinMaxScaler()
X=mns.fit_transform(x)

In [9]:
X

array([[0.58807588, 1.        , 0.57948718, ..., 0.        , 0.        ,
        1.        ],
       [0.73015873, 0.        , 0.51794872, ..., 0.        , 0.        ,
        1.        ],
       [0.6240031 , 0.        , 0.56410256, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.64018583, 1.        , 0.65641026, ..., 0.        , 1.        ,
        0.        ],
       [0.90073558, 0.        , 0.55384615, ..., 0.        , 0.        ,
        0.        ],
       [0.75431669, 0.        , 0.58974359, ..., 0.        , 0.        ,
        1.        ]])

In [10]:
y=pd.get_dummies(y)

import model

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=33123)

In [12]:
np.shape(X)

(70000, 11)

In [13]:
model=tf.keras.models.Sequential([
tf.keras.layers.Dense(11,activation='relu',input_shape=(11,)),
tf.keras.layers.Dense(40,activation='relu'),
tf.keras.layers.Dense(2,activation='softmax')

])

In [14]:
model.compile(optimizer=tf.keras.optimizers.Adam(0.001),
 loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
  metrics=[tf.keras.metrics.CategoricalAccuracy()])

In [34]:
model.fit(x,y,epochs=10,validation_data=(x_test,y_test),batch_size=800)

Epoch 1/10

c:\Users\hp\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\backend.py:5534: UserWarning: "`categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Softmax activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

88/88 [==============================] - 2s 7ms/step - loss: 170.1022 - categorical_accuracy: 0.4964 - val_loss: 0.7152 - val_categorical_accuracy: 0.4944
Epoch 2/10
 1/88 [..............................] - ETA: 0s - loss: 36.9243 - categorical_accuracy: 0.5100

c:\Users\hp\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\backend.py:5534: UserWarning: "`categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Softmax activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

88/88 [==============================] - 0s 3ms/step - loss: 38.8116 - categorical_accuracy: 0.4964 - val_loss: 0.7129 - val_categorical_accuracy: 0.4944
Epoch 3/10
88/88 [==============================] - 0s 3ms/step - loss: 25.7795 - categorical_accuracy: 0.4918 - val_loss: 0.7057 - val_categorical_accuracy: 0.4949
Epoch 4/10
88/88 [==============================] - 0s 4ms/step - loss: 24.1428 - categorical_accuracy: 0.4920 - val_loss: 0.6966 - val_categorical_accuracy: 0.4943
Epoch 5/10
88/88 [==============================] - 0s 4ms/step - loss: 36.5800 - categorical_accuracy: 0.4988 - val_loss: 0.6907 - val_categorical_accuracy: 0.4994
Epoch 6/10
88/88 [==============================] - 0s 4ms/step - loss: 28.1608 - categorical_accuracy: 0.4970 - val_loss: 0.6896 - val_categorical_accuracy: 0.4983
Epoch 7/10
88/88 [==============================] - 0s 4ms/step - loss: 36.4904 - categorical_accuracy: 0.4988 - val_loss: 0.6893 - val_categorical_accuracy: 0.5343
Epoch 8/10
88/88 [==============================] - 0s 4ms/step - loss: 33.9920 - categorical_accuracy: 0.4996 - val_loss: 0.6891 - val_categorical_accuracy: 0.5299
Epoch 9/10
88/88 [==============================] - 0s 4ms/step - loss: 15.6889 - categorical_accuracy: 0.5012 - val_loss: 0.6886 - val_categorical_accuracy: 0.5355
Epoch 10/10
88/88 [==============================] - 0s 5ms/step - loss: 25.5426 - categorical_accuracy: 0.5029 - val_loss: 0.6897 - val_categorical_accuracy: 0.5583